

body {
  background-color: #00bb77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}



h1, h2, h3 {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-size: 100px;
  padding: 0;
  margin: 16px;
}
h2 {
  font-size:  50px;
  margin: 4px;
}
.main-top-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  padding: 2rem;
  transition: transform .2s;
}
.main-top-img:hover {
   transform: scale(1.5);
}
p {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  margin: 4px;
}
.text-block {
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
  margin: 4px;
}
.main {
  background-color: azure;
  width: 80%;
  margin: auto;
  padding: 8px;
  border-radius: 20px;
}
.card {
  background-color: rgba(90, 230, 223, 0.342);
  text-align: center;
  margin: 16px;
  display: block;
  border-radius: 20px;
  box-shadow: 10px 10px 5px lightblue;

}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.icon-list > li {
  display: inline-block;
  padding: 0px 20px;
  color: chocolate;
  font-size: 42px;
  transition: transform .2s;
}

.icon-list {
  list-style: none;
  padding-left: 0px;
}

.icon-list > li:hover {
  transform: scale(1.5);
}
.btn {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 35px;
  cursor: pointer;
  font-weight: bolder;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.btn:hover {
  background-color: rgb(223, 33, 33);
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
.card-btn {
  padding: 20px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .main {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .main {
    width: 500px;
  }
   .main-top-img {
    display: none;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .main {
    width: 300px;
  }
  .main-top-img {
    display: none;
  }
  .h1, h2, h3 {
    font-size: 20px;
  }
  header.h1 {
    font-size: 20px;
  }
}
.pulse{
    animation: pulse 1s infinite;
      border-radius: 50%;
}

 @keyframes pulse{
      from{
 box-shadow: 0 0 0 0 rgba(198, 182, 179, 0.85);
      }

      to{
box-shadow: 0 0 0 30px rgba(201, 48, 48, 0);
      }
  }
